@import '../globals';

.content-container {
	margin: 10px;
}

.footer {
	text-align: right;
}

.submit-btn {
	min-width: 200px;
	margin-top: 10px;
	border: none;
	background: $submitGreen;
	color: #fff;
}